<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.micolonia.app">

    <application
        android:name=".LasHadas"
        android:allowBackup="true"
        android:appCategory="social"
        android:banner="@mipmap/ic_launcher_micolonia"
        android:icon="@mipmap/ic_launcher_micolonia"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher_micolonia_round"
        android:minSdkVersion="24"
        android:roundIcon="@mipmap/ic_launcher_micolonia_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeRegister">
        <activity android:name=".Drawer_Inicio"></activity>
        <activity android:name=".Buzon_Comentarios" />
        <activity android:name=".BuzonAdmin" />
        <activity android:name=".MisPublicaciones" />
        <activity android:name=".FullScreen_Ventas" />
        <activity android:name=".FullScreen_Servicios" />
        <activity android:name=".FullScreen_Comida" />
        <activity android:name=".Eliminar_Aviso" />
        <activity android:name=".GeneradorQR" />
        <activity
            android:name=".LectorQR"
            android:screenOrientation="portrait" />
        <activity android:name=".Aviso_Admin" />
        <activity android:name=".Pago_Usu_Admin" />
        <activity android:name=".Admin" />
        <activity android:name=".Olvido_pssd" />
        <activity android:name=".Ayuda" />
        <activity android:name=".Formato_pub_venta" />
        <activity android:name=".Formato_pub_serv" />
        <activity android:name=".Imagen_venta" />
        <activity android:name=".seleccionar" />
        <activity android:name=".AvisoPrivacidad" />
        <activity android:name=".Formato_pub_comida" />
        <activity android:name=".Contacto" />
        <activity android:name=".Publicar" />
        <activity android:name=".seccion_ventas" android:theme="@style/NoActionBar" />
        <activity android:name=".Servicios" />
        <activity android:name=".seccion_servicios" android:theme="@style/NoActionBar"/>
        <activity android:name=".seccion_comida" android:theme="@style/NoActionBar" />
        <activity android:name=".Comida" />
        <activity android:name=".Perfil" />
        <activity android:name=".Inicio" android:theme="@style/NoActionBar">

            <intent-filter>
                <action android:name="com.micomunidad.lashadas.Inicio" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InicioSesion"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_hadas" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
   See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/naranja" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="Canal_1_ID" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mydomain.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.CALL_PHONE" />

</manifest>