<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.micolonia.app">

    <application
        android:name="com.micolonia.app.LasHadas"
        android:allowBackup="true"
        android:appCategory="social"
        android:banner="@mipmap/ic_launcher_micolonia"
        android:icon="@mipmap/ic_launcher_micolonia"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher_micolonia_round"
        android:minSdkVersion="16"
        android:roundIcon="@mipmap/ic_launcher_logohadas_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeRegister">
        <activity android:name="com.micolonia.app.Olvido_pssd"></activity>
        <activity android:name="com.micolonia.app.Ayuda" />
        <activity android:name="com.micolonia.app.Formato_pub_venta" />
        <activity android:name="com.micolonia.app.Formato_pub_serv" />
        <activity android:name="com.micolonia.app.Imagen_venta" />
        <activity android:name="com.micolonia.app.seleccionar" />
        <activity android:name="com.micolonia.app.AvisoPrivacidad" />
        <activity android:name="com.micolonia.app.Formato_pub_comida" />
        <activity android:name="com.micolonia.app.Contacto" />
        <activity android:name="com.micolonia.app.Publicar" />
        <activity android:name="com.micolonia.app.seccion_ventas" />
        <activity android:name="com.micolonia.app.Servicios" />
        <activity android:name="com.micolonia.app.seccion_servicios" />
        <activity android:name="com.micolonia.app.seccion_comida" />
        <activity android:name="com.micolonia.app.Comida" />
        <activity android:name="com.micolonia.app.Perfil" />
        <activity android:name="com.micolonia.app.Inicio">
            <intent-filter>
                <action android:name="com.micomunidad.lashadas.Inicio" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.micolonia.app.InicioSesion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.micolonia.app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_hadas" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
   See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/naranja" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="Canal_1_ID" />
        <service
            android:name="com.micolonia.app.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.CALL_PHONE" />

</manifest>